.slider-modal {
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
  overflow: hidden;
  animation: modal-expand 0.3s ease forwards;
  z-index: 5;
}

.slider-modal-art-wrapper {
  position: relative;
}

.slider-modal-art {
  height: 100%;
  padding-top: 150%;
  width: 100%;
}

@keyframes modal-expand {
  0% {
    transform: scale3d(0.66, 0.66, 0.66);
  }

  50% {
    opacity: 1;
  }
}

.slider-modal-image {
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.slider-modal-info-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #181818;
  position: relative;
}

.slider-modal-info {
  display: flex;
  align-content: center;
  justify-content: center;
}

.slider-modal-button-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 1em;
}

.modal-button {
  max-height: 42px;
  max-width: 42px;
  min-height: 32px;
  min-width: 32px;

  border-style: solid;
  border-width: 2px;

  align-items: center;
  appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 1;
  padding: 0.8rem;
  position: relative;
  will-change: "background-color", color;
  word-break: break-word;
  white-space: nowrap;
  border-radius: 50%;
}

.modal-remove-button {
  color: black;
  background-color: white;
  border-color: white;
}

.modal-remove-button:hover {
  background-color: #e6e6e6;
  border-color: #fff;
}

.modal-remove-button:active {
  color: rgba(0, 0, 0, 0.7);
}

.modal-add-button {
  color: white;
  background-color: rgba(42, 42, 42, 0.6);
  border-color: hsla(0, 0%, 100%, 0.5);
}

.modal-add-button:hover {
  background-color: #2a2a2a;
  border-color: #fff;
}

.modal-add-button:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.icon {
  height: 1.8rem;
  width: 1.8rem;
}
