.billboard {
  display: block;
  margin-top: -70px;
  height: 56.25vw;
  width: 100%;
  position: absolute;
  color: #e5e5e5;
  z-index: 0;
}

.billboard-video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
}

.billboard-video {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.billboard-video-wide {
  width: calc(100% * (9 / (16 / 2.35)));
}

.billboard-img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  object-position: 0 0;
  z-index: -1;
}

.billboard-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.billboard-img-vignette {
  background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 26.09%;
  top: 0;
  transition: opacity 0.5s;
  z-index: 8;
}
